html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Calibri Light', sans-serif;
  font-weight: 400;
}

#nav1 {
  position: fixed;
  top: 0;
  left: 0;
  background: #333;
  margin: 0;
  padding: 15px;
  list-style: none;
  border-radius: 0 0 10px 0;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
  z-index: 1000;
}

#nav1 a {
  display: block;
  padding: 10px 10px;
  color: #fff;
}

#nav1 a:hover {
  color: #ff0;
}
 

body { background: none;
  padding: 0;
  margin: 0;
  font-family: "Calibri Light", sans-serif !important;
}

#header {
  width: 100%;
  height: 35px;
  position: absolute;
  z-index: 100;
  top:0px;
  background-color: black;
  
}

#welcome {
  height: 100vh;
  margin:0;
  padding:0;
  min-height: 100%;
}



/*  NAVBAR */
.navbar-brand {
  font-size: 3em !important;
  font-weight: bold;
  color: white !important;
  margin-right: 6% !important;
  margin-left: 3% !important;
}

nav {
    width:100% !important;
    height: 70px !important;
    position: absolute !important;
    top: 35px !important;
    text-align: right;
    margin-left: auto;
    z-index: 10;
}


a.nav-link:hover  {
  color: #c99947 !important;
  text-decoration: underline !important;
  border-bottom: 2px solid #c99947 !important;
}
a.nav-link {
  transition: 1s border-bottom;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  color: white !important;
  font-size: 1.1em;
  padding-top: 20px;
}

/* rows */
div.dropdown-multicol{
  width: 30em;
}
div.dropdown-row>a.dropdown-item{
  display:inline-block;
  width: 32%;
}
 


/* SECTIONS  */
section {
  margin-bottom: 4vh;
}
#home_section {
  height: 100vh;
  min-height: 768px !important;
}

#about {
  height: 100vh;
  width: 100%;
  min-height: 768px !important;
  color: white;
}
#partners {
  background-image: url("https://images.unsplash.com/photo-1473186505569-9c61870c11f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  width:100%;
  height: 100vh;
  min-height: 768px !important;
}
#lawyers {
  height: 100vh;
  width: 100%;
  min-height: 768px !important;
  color: white;
}

#services {
  height: 100vh;
  min-height: 768px !important;
  width: 100%;
}
#news {
  height: 100vh;
  min-height: 768px !important;
}
#contact {
  background-image: url("images/contact_us.jpg");
  width:100%;
  height: 100vh;
  min-height: 768px !important;
  background-size: 100%;
}

/*CONTACT FORM*/

#contact_form {
  margin-top: 10% !important;
}
.btn.btn-lg.btn-danger {width: 100%;}


/* CARD SETTINGS */

.card {
  color: white;
  margin-top: 2% !important;
  height: 100% !important;
  border: none !important;
  text-align: center !important;
  background: none !important;
  background-color:none !important;
  font-size: 1.2em;
}

.gray { 
  background-color: rgb(96,96,96);
   padding: 0 !important;
   margin: 0 !important;
   height: 4vh !important;
   line-height: 1 !important;
}

.gray_large { 
  background-color: rgb(96,96,96);
  height: 30% !important;
  padding: 50px !important;
  line-height: 1 !important;
}

.customniy  {
  width:80% !important;
  height: 100vh;
  min-height: 768px;
  margin: 0 auto;
  margin-top:2%;
}

img.card-img-top.round_image{
  margin-top: 10% !important;
    border: 2px solid white !important;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
}


/*End of CARD Settings*/

/* Pre sets */
.round_image {
  border-radius: 50% !important;
  width: 150px !important;
  height: 150px !important;
}
.float_left{
  float: left;
}
.centered_div {
  margin: 0 auto !important;
  text-align: center !important;
}
#allnews_btn  { 
  width:25% !important;
  margin-top: 2vh !important;
  margin-bottom: 5vh !important;  
}
.white {color: white !important;}

.black {
    color: black !important;
}


/* Images and Logos */
.moreless {
  display: none;
    font-size: 2em !important;
}
.address {  
	height:60%;
    width:inherit;
	background: rgba(0, 0, 0, 0.70);
    font-family:Helvetica;
    color:#FFFFFF;
    text-align:center;
    z-index:500;
    position:absolute;
    top:10%;
    left:0px;
    padding-top:2%;
}
.address1 {  
	height:80%;
    width:inherit;
	background: rgba(0, 0, 0, 0.70);
    font-family:Helvetica;
    color:#FFFFFF;
    text-align:center;
    z-index:500;
    position:absolute;
    top:10%;
    left:0px;
    padding-top:2%;
}

span.l{
	width:50%;
	font-family:Helvetica;
	color:#FFFFFF;
	text-align:center;
	font-size:75%;
	float:left; 
}
span.r{
	width:50%;
	font-family:Helvetica;
	color:#FFFFFF;
	text-align:center;
	font-size:75%;
	float:right; 
}

.item img {
  width:100%;
  height: 100vh;
  min-height: 768px;
  max-height: 100%;
}

.item {
  position:relative;
  width: 100%;
  margin: auto;
  padding: 0px;
  -moz-box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.6); /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.6); /* Saf3.0+, Chrome */
        box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.6); /* Opera 10.5, IE 9.0 */
      filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=10px, OffY=10px, Color='#888'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=10px, OffY=10px, Color='#888')"; /* IE8 */
}

.haqqimizda_image {
  height: 100vh;
}
.news_container    {
    width: 90%;
    margin: 0 auto;

}
.news_row {
  height: 400px;
  margin-bottom: 25px;
}
.news_image {
    height: 90%;
    width: 80% !important;
    margin: 0 auto;
}

.wrapper_for_news {

  width: 90%;
  margin: 0 auto;

}
.justified {text-align: justify}